body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    
}

h2{
    padding-left: 10%;
    padding-top: 3%;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    display: block;
    font-size: 65%;
    color: #929292;
    padding-left: 3%;
}


hr {
    border: none;               /* Remove a borda padrão */
    height: 0.5px;              /* Define a altura da linha */
    background-color: cornflowerblue; /* Cor da linha */
    width: 85%;                 /* Largura da linha (em porcentagem do contêiner) */
    margin: 20px auto;          /* Centraliza a linha horizontalmente */
}

form{
    padding-left: 10%;
}

input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px; /* Borda arredondada */
    font-size: 16px;
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

  /* Estiliza o texto do placeholder */
  input::placeholder {
    color: #ccc; /* Cor clara para o placeholder */
    font-style: italic; /* Faz o texto parecer mais informal */
    font-size: 14px; /* Tamanho do texto do placeholder */
}

.incluses{
    text-align: center;
}

.inclus{
    color: mediumblue;
}
.es{
    color:blueviolet
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    text-align: left;
    width: 545px;
    height: 565px;
    align-items: center;
}

.container h2 {
    margin-bottom: 20px;
    text-align: left;
}

.container input {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 50px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #929292;
    border-radius: 10px;
}

.container button {
    background-color: rgb(20, 20, 188);
    color: #fff;
    padding: 5% 15%;
    border: none;
    width: 75%;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.mostrar-senha{
    float: right;
    cursor: default;
}