body {
    font-family: palanquin;
}

.incluses{
    display: block;
    float: left;

    font-size: 30px;

}
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

  .container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 85%;
    border: 1 solid rgb(78, 155, 255);
}


.acessar{
    display: flex;
    align-items: center;
    justify-content: end;

    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 10px;
    padding: 10px;
}

.acessar p{
    margin: 0;
    font-weight: bold;
;
}

.acessar:hover{
    cursor: pointer;
    background-color: rgb(116, 183, 254);
    transition: 0.5s;

}



  .adm{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(78, 155, 255);
    color: #fff;
    border-radius: 10px;
    padding: 5%;
    width: 100%;
  }

  
  hr {
    border: none;               
    height: 0.5px;              /* Define a altura da linha */
    background-color: cornflowerblue; /* Cor da linha */
    width: 100%;                 /* Largura da linha (em porcentagem do contêiner) */
    margin: 20px auto;          /* Centraliza a linha horizontalmente */
}

.card {
    border: 1px solid rgb(37, 107, 182);
    border-radius: 15px;
    height: 100%;
    width: 35%;
  }


.inclus{
    color: mediumblue;
}
.es{
    color:blueviolet
}
