* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Palanquin';
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  width: 100vw;
}


.container {
  display: grid;
  text-align: center;
  background-color: white;
  padding: 30px;
  padding-left: 20px;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 85%;
  height: 90vh;
  min-height: 80vh; 
  position: absolute;
  overflow: hidden;
}

.incluses h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: #673ab7;
  text-align: left;
  position: absolute;
  top: 4%;
  left: 5%;
}

.incluses .inclus {
  color: #2B46D3;
}

.incluses .es {
  color: #782CD4;
}

hr {
  border: none;
  border-top: 0.2px solid #2196f3;
  width: 100%;
  position: relative;
  left: -10px;
}

.container-card-scroll {
  overflow-y: scroll;
  max-height: 65vh;
}

.container-card-scroll::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem */
}

.container-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding-right: 55%;
}

.card-medio {
  display: flex;
  flex-direction: column;
  background-color: #e3f2fd;
  border-radius: 16px;
  width: 495px;
  height: 199px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #2196f3;
  min-height: auto;
  min-width: auto;
}

.card-medio p {
  display: flex;
  padding-left: 5%;
  font-size: 15px;
  font-weight: bold;
}

.medio-grid {
  grid-column: 2 / 3; 
  grid-row: 2;
  height: 100%; 
}

.card-grande {
  display: flex;
  flex-direction: column;
  background-color: #e3f2fd;
  border-radius: 16px;
  width: 495px;
  height: 220px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #2196f3;
  min-height: auto;
  min-width: auto;
}

.card-grande p {
  display: flex;
  padding-left: 5%;
  font-size: 15px;
  font-weight: bold;
}

.grande-grid{
  grid-column: 1 / 2;
  grid-row: 1; 
  height: 100%; 
}


.card-pequeno {
  display: flex;
  flex-direction: column;
  background-color: #e3f2fd;
  border-radius: 16px;
  width: 495px;
  height: 170px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #2196f3;
  min-height: auto;
  min-width: auto;
}

.card-pequeno p {
  display: flex;
  padding-left: 5%;
  font-size: 15px;
  font-weight: bold;
}

.pequeno-grid{
  grid-column: 2 / 2; 
  grid-row: 1; 
  height: 100%; 
}

.container-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-left: 5%;
}

.container-card-grid .grande-grid {

}

.barra{
  display: flex;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  height: 60px;
  background-color: #407bff;
  border-radius: 15px;
}

.barra h2 {
  color: white;
  font-size: 1.3rem;
  margin: 15px;
}

.acessar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 1%;
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.acessar:hover {
  background-color: #46aafc;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.portal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #2b46d3;
  width: 205px;
  height: 77px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.opcoes {
  margin-left: 2%;
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  min-height: 100px;
  height: 15%;
  color: rgb(255, 255, 255);
}

.graficos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #70B3FF;
  width: 205px;
  height: 77px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.voltar {
  display: flex;
  padding-left: 5%;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #2b46d3;
  width: 200px;
  height: 60px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  left: -50%;
}

ul {
  list-style-type: none;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 0;
  font-weight: bold;
}

ul li {
  font-size: 14px;
  color: #333;
  padding-left: 9%;
}
