* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Palanquin';
background-color: #f7f7f7;
color: #333;
display: flex;
justify-content: center;
align-items: flex-start;
margin-top: 50px;
width: 100vw;
}


.container {
display: grid;
text-align: center;
background-color: white;
padding: 30px;
padding-left: 20px;
border-radius: 30px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
width: 85%;
height: 90vh;
min-height: 80vh; 
position: absolute;
overflow: hidden;
}

.incluses h1 {
display: flex;
align-items: center;
font-size: 3rem;
margin-bottom: 20px;
font-weight: 600;
color: #673ab7;
text-align: left;
position: absolute;
top: 4%;
left: 5%;
}

.incluses .inclus {
color: #2B46D3;
}

.incluses .es {
color: #782CD4;
}

hr {
border: none;
border-top: 0.2px solid #2196f3;
width: 100%;
position: relative;
left: -10px;
}

.portal {
display: flex;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
background-color:#70B3FF ;
width: 205px;
height: 77px;
border-radius: 30px;
cursor: pointer;
font-size: 15px;
font-weight: bold;
}

.opcoes {
position: relative;
top: 15%;
left: 5%;
width: 100%;
display: flex;
justify-content: center;
gap: 5%;
width: 100%;
min-height: 100px;
height: 15%;
color: rgb(255, 255, 255);
}

.graficos {
display: flex;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
background-color: #2b46d3;
width: 205px;
height: 77px;
border-radius: 30px;
cursor: pointer;
font-size: 15px;
font-weight: bold;
}

.voltar {
display: flex;
padding-left: 5%;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
background-color: #2b46d3;
width: 200px;
height: 60px;
border-radius: 25px;
cursor: pointer;
font-size: 15px;
font-weight: bold;
position: relative;
z-index: 1;
left: -50%;
}
