
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Palanquin';
background-color: #f7f7f7;
color: #333;
display: flex;
justify-content: center;
align-items: flex-start;
margin-top: 50px;
width: 100vw;
}

.container {
display: block;
text-align: center;
background-color: white;
padding: 30px;
padding-left: 20px;
border-radius: 30px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
width: 85%;
height: 90vh;
min-height: 80vh; 
position: absolute;
overflow: hidden;
}

.incluses h1 {
display: flex;
align-items: center;
font-size: 3rem;
margin-bottom: 20px;
font-weight: 600;
color: #673ab7;
text-align: left;
position: absolute;
top: 3%;
left: 5%;
}

.incluses .inclus {
color: #2B46D3;
}

.incluses .es {
color: #782CD4;
}

hr {
border: none;
border-top: 0.2px solid #2196f3;
width: 100%;
position: relative;
left: 4px;
}

.container-card-scroll {
overflow-y: scroll;
max-height: 65vh;
overflow-x: hidden;
}

.container-card-scroll::-webkit-scrollbar {
display: none; 
}

.container-card {
padding-top: 5%;
padding-left: 18%;
}

.card-medio {
display: flex;
flex-direction: column;
background-color: #e3f2fd;
border-radius: 16px;
width: 495px;
height: 199px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
border: 1px solid #2196f3;
}

.card-medio p {
display: flex;
padding-left: 5%;
font-size: 15px;
font-weight: bold;
}

.card-grande {
display: flex;
flex-direction: column;
background-color: #e3f2fd;
border-radius: 16px;
width: 495px;
height: 220px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
border: 1px solid #2196f3;
}

.card-grande p {
display: flex;
padding-left: 5%;
font-size: 15px;
font-weight: bold;
}

.card-pequeno {
display: flex;
flex-direction: column;
background-color: #e3f2fd;
border-radius: 16px;
width: 495px;
height: 170px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
border: 1px solid #2196f3;
}

.card-pequeno p {
display: flex;
padding-left: 5%;
font-size: 15px;
font-weight: bold;
}

.container-card-grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 15%;

}

.barra{
display: flex;
padding: 2%;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
width: 100%;
height: 60px;
background-color: #407bff;
border-radius: 15px;
}

.barra h2 {
color: white;
font-size: 1.3rem;
margin: 15px;
}

.acessar {
text-align: center;
border: 0;
margin-right: 15px;
color: rgb(0, 0, 0);
background-color: #ffffff;
padding: 2%;
width: 30%;
border-radius: 5px;
cursor: pointer;
font-size: 15px;
font-weight: bold;
}

.acessar:hover {
background-color: #46aafc;
color: rgb(255, 255, 255);
transition: 0.5s;
}

.opcoes {
margin-left: 2%;
display: flex;
justify-content: center;
gap: 10%;
width: 100%;
height: 15%;
color: rgb(255, 255, 255);
}

.botao-portal {
text-align: center;
color: rgb(255, 255, 255);
background-color: #2b46d3;
width: 205px;
height: 77px;
border-radius: 30px;
cursor: pointer;
font-size: 15px;
font-weight: bold;
border: 0;
}

.botao-portal:hover {
background-color: #46aafc;
color: rgb(255, 255, 255);
transition: 0.5s;
}

.botao-graficos{
text-align: center;
color: rgb(255, 255, 255);
background-color: #2b46d3;
width: 205px;
height: 77px;
border-radius: 30px;
cursor: pointer;
font-size: 15px;
font-weight: bold;
border: 0;
}

.botao-graficos:hover {
background-color: #46aafc;
color: rgb(255, 255, 255);
transition: 0.5s;
}

.voltar {
display: flex;
padding-left: 5%;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
background-color: #2b46d3;
width: 200px;
height: 60px;
border-radius: 25px;
cursor: pointer;
font-size: 15px;
font-weight: bold;
position: relative;
z-index: 1;
left: -50%;
border: 0;
}

ul {
list-style-type: none;
text-align: left;
margin-bottom: 15px;
padding-left: 0;
font-weight: bold;
}

ul li {
font-size: 14px;
color: #333;
padding-left: 9%;
}
